<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.jboss.tools.jst.web.ui.visulaEditorImplementations"  id="VpeEditorPartFactory">
        	<visualEditorImplementation name="%visualEditorImplementation.name" class="org.jboss.tools.vpe.preview.editor.VpeEditorPartFactory"/>
  </extension>
  <extension
         point="org.eclipse.core.runtime.preferences">
               <initializer class="org.jboss.tools.vpe.preview.editor.VpvEditorPreferencesInitializer"/>
   </extension>
   	<extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.xstudio.editors" class="org.jboss.tools.vpe.preview.editor.preferences.VpeEditorPreferencesPage" id="org.jboss.tools.vpe.editor" 
            name="%PreferencePage_VpeEditor">
      </page>
   	</extension>
</plugin>
